body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #093824;
  color: #AFD2E9;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #AFD2E9;
  text-decoration: none;
}

section {
  padding: 50px;
  color: #C4A29E;
}

.section-bg-light {
  background-color: #AFD2E9;
}

.section-bg-dark {
  background-color: #654C4F;
}

h2 {
  color: #093824;
}

h3 {
  color: #093824;
}

.project {
  margin-bottom: 20px;
}

.dropdown {
  display: none;
  padding-top: 10px;
  border: 1px solid #C4A29E;
}

.project:hover .dropdown {
  display: block;
}

a.button {
  display: inline-block;
  background-color: #2D728F;
  color: #AFD2E9;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
}

footer {
  background-color: #093824;
  color: #AFD2E9;
  padding: 20px;
  text-align: center;
}

